<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542320070435-uu06vbjpjc4ogppmk4rrpr73popqtgc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542320070435-uu06vbjpjc4ogppmk4rrpr73popqtgc3</string>
	<key>API_KEY</key>
	<string>AIzaSyDG2-CExZGiqPRZz-2haw1IQ5aZMK897N4</string>
	<key>GCM_SENDER_ID</key>
	<string>542320070435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.touyou.wednesdayWolfApp</string>
	<key>PROJECT_ID</key>
	<string>wednesday-wolf-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wednesday-wolf-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542320070435:ios:13904125e6c6a1ca8f4696</string>
	<key>DATABASE_URL</key>
	<string>https://wednesday-wolf-app.firebaseio.com</string>
</dict>
</plist>